*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
    padding: 14px 15px;
    outline: none;
    border-radius: 6px;
    border: 1px solid black;
    margin: 20px;
}

button {
    padding: 14px 23px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.1s linear;
}
button:hover {
  background-color: crimson;
  color: #fff;
}