*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  background-color: black;
}
.cardwrapper {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.card {
  background-color: aliceblue;
    width: calc(25% - 25px * 3 / 4);
    height: 300px;
    border-radius: 25px;
    padding: 20px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}