*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
}
.navbar ul li {
    list-style: none;
    background-color: blue;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
.light {
  background-color: lightblue;
}
.dark {
  background-color: grey;
}
.dark h1 {
  color: white;
}
.bodyInner {
    height: calc(100vh - 57px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodyInner h1 {
    font-size: 50px;
    font-family: system-ui;
    letter-spacing: 3px;
}