*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Improve text rendering */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Body default style */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #222;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.card-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 20px;
}
.card {
  margin-top: 50px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    transition: 0.3s linear;
}
.card:hover {
    background: #e7e7e7;
    color: #222;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}