*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height:100%;
}
.box {
    margin: 20px;
    background: #c1c1c1;
    width: fit-content;
    padding: 40px 60px;
    border-radius: 5px;
    font-size: 32px;
}

button {
    margin: 0 20px;
    padding: 10px;
}